/* 
* @Author: kidjourney
* @Date:   2015-05-10 19:23:45
* @Last Modified by:   kidjourney
* @Last Modified time: 2015-05-10 19:26:48
*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}