			h1,h3{
				text-align: center;
			}
			#buttonGroup{
				margin:0 0;
				padding:0 0;
				height:200px;
			}
			#content{
				text-align:center;
				width:100%;
				height:100%;
			}
			#logo{
				border:1px solid rgb(50,50,50);
				width:200px;
				height:200px;
				margin:0 auto;
				line-height:200px;
				text-align:center;
			}
			.test{
				width:100px;
				height:100px;
				margin:0 0;
				padding:0 0;
			}
			#divSearch{
				position:fixed;
				top:20%;
				display:inline-block;
			}
			button{
				background: rgb(250,250,250);
			}